
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
nav{
    width: 100%; 
    text-align: center;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(168, 167, 167);
   
}


.menu {
    display: flex;
    
}

.menu li {
    
    color: rgb(43, 21, 245);
    text-decoration: none;
    display: block;
    padding: 15px;
    
}
.menu a {
    text-decoration: none;

}

.menu a:first-child {
    margin-right: auto;
}